@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img class="card-img-top" src="https://leventdunord.com/wp-content/uploads/2018/03/logo-the-new-york-time.gif" alt="Card image cap">


</div>